@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/Aeonik-Regular.otf");
}

.font-marcellus {
  font-family: "Marcellus", serif;
}

.font-aeonik {
  font-family: "Aeonik", serif;
}

html {
  scroll-padding-top: 78px;
}

body {
  background-color: #e5ddc5;
}

#landingTop {
  background-image: linear-gradient(
      to right,
      rgba(184, 137, 47, 0.9),
      rgba(184, 137, 47, 0.6)
    ),
    url("../assets/backgrounds/filkom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 150%;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 50% 90%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.active::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2px;
  bottom: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
}

.dropdown::-webkit-scrollbar {
  background: white;
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #e5b350;
}

.active-dropdown-item {
  background-color: #dc9e25;
}

.h-screen {
  height: calc(var(--vh, 1vh) * 100 - 78px);
}

.min-h-screen {
  min-height: calc(var(--vh, 1vh) * 100);
}

.slick-track {
  display: flex;
}

.slick-slide {
  margin: auto;
}

#compro {
  width: 840px;
  height: 560px;
  padding-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
  #landingTop {
    background-size: cover;
  }
}

@media (max-width: 900px) {
  #compro {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 64px;
  }

  .nav-list {
    min-height: calc(var(--vh, 1vh) * 100 - 64px);
  }

  .active {
    color: #dc9e25;
  }

  .active > * {
    color: #fff;
  }

  .active::after {
    display: none;
  }

  .h-screen {
    min-height: calc(var(--vh, 1vh) * 100 - 64px);
  }
}

@media (max-width: 600px) {
  #compro {
    width: 400px;
    height: 266px;
  }
}

@media (max-width: 600px) {
  #compro {
    width: 400px;
    height: 266px;
  }
}

@media (max-width: 400px) {
  #compro {
    width: 300px;
    height: 200px;
  }
}
