.ribbon-wrapper::after,
.ribbon-wrapper::before {
  content: "";
  position: absolute;
  bottom: -3.5rem;
  border: 60px solid #562949;
  z-index: -2;
}

.ribbon-wrapper::before {
  left: -4rem;
  border-left-color: transparent !important;
}

.ribbon-wrapper::after {
  right: -4rem;
  border-right-color: transparent !important;
}

.ribbon {
  background-color: #673258;
}

.ribbon::after,
.ribbon::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #45213b transparent transparent transparent;
  bottom: -3.5rem;
  z-index: -1;
}

.ribbon::after {
  right: 0;
  border-width: 3.5rem 3.5rem 0rem 0rem;
}

.ribbon::before {
  left: 0;
  border-width: 3.5rem 0rem 0rem 3.5rem;
}


@media screen and (max-width: 1024px) {
  .ribbon-wrapper::after,
  .ribbon-wrapper::before {
    display: none;
  }

  .ribbon::after,
  .ribbon::before {
   display: none;
  }
}
/* 
@media screen and (max-width: 768px) {
  .ribbon-wrapper::after,
  .ribbon-wrapper::before {
    border-width: 30px;
    bottom: -2rem;
  }

  .ribbon-wrapper::before {
    left: -2.6rem;
  }

  .ribbon-wrapper::after {
    right: -2.6rem;
  }

  .ribbon::after,
  .ribbon::before {
    bottom: -2rem;
  }

  .ribbon::after {
    border-width: 2rem 2rem 0rem 0rem;
  }

  .ribbon::before {
    border-width: 2rem 0rem 0rem 2rem;
  }
} */
