@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Marcellus";
  src: url("./fonts/Marcellus-Regular.ttf");
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/Aeonik-Regular.otf");
}

.font-marcellus {
  font-family: "Marcellus", serif;
}

.font-aeonik {
  font-family: "Aeonik", serif;
}

html {
  scroll-padding-top: 78px;
}

body {
  background-color: #e5ddc5;
}

.active::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2px;
  bottom: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
}

.dropdown::-webkit-scrollbar {
  background: white;
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #e5b350;
}

.active-dropdown-item {
  background-color: #dc9e25;
}

.min-h-screen {
  min-height: calc(var(--vh, 1vh) * 100);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 64px;
  }

  .nav-list {
    min-height: calc(var(--vh, 1vh) * 100 - 64px);
  }

  .active-dropdown-item {
    color: #dc9e25;
  }

  .active {
    color: #dc9e25;
    background-color: transparent;
  }

  .active > * {
    color: #dc9e25;
  }

  .active::after {
    display: none;
  }
}

.slick-track {
  display: flex;
}

.slick-slide {
  margin: auto;
}
