@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Marcellus';
    src: url('./fonts/Marcellus-Regular.ttf');
}

@font-face {
    font-family: 'Aeonik';
    src: url('./fonts/Aeonik-Regular.otf');
}


.font-marcellus{
    font-family: 'Marcellus', serif;
}

.font-aeonik{
    font-family: 'Aeonik', serif;
}